h1 {
  color: salmon;
  font-family: "Courier New", Courier, monospace;
  margin: 15px;
}

h3 {
  color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: sandybrown;
  max-width: 800px;
  padding: 20px;
  margin: 15px;
  border: 5px;
  border-style: dotted;
}

ul {
  list-style-type: none;
}

canvas {
  background-color: lightgray;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 20px;
  padding: 10px;
  line-height: 20px;
}

details {
  margin: 10px;
  padding: 20px;
}

summary {
  margin: 10px;
  padding: 10px;
}

#sad-news {
  margin-left: 50px;
  margin: 10px;
  padding: 15px;
  padding-left: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(254, 255, 215);
  background-color: crimson;
  max-width: 700px;
  border-radius: 40px;
}

#sad-news-outline {
  background-color: brown;
  padding: 10px;
  max-width: 700px;
  border-radius: 40px;
}

.canvas {
  background-color: rgb(216, 225, 226);
  max-width: 800px;
  padding: 20px;
  margin: 20px;
}

.image-mapping {
  background-color: rgb(216, 225, 226);
  max-width: 800px;
  padding: 20px;
  margin: 20px;
}

.global-attributes {
  background-color: rgb(216, 225, 226);
  max-width: 800px;
  padding: 20px;
  margin: 20px;
}

footer {
  margin-top: 50px;
  margin-right: 10px;
  font-size: 10px;
  text-align: right;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
}

.work-from-home {
  background-color: lightsteelblue;
  margin: 15px;
  padding: 1%;
  max-width: 90%;
  border-radius: 10px;
}

.intro-paragraph {
  color: rgb(120, 120, 200);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  padding: 10px;
  margin: 15px;
  border: 5px;
  border-style: ridge;
  border-radius: 9px;
}

.big-image {
  max-width: 800px;
  border-radius: 15px 50px;
  border: 5px;
  border-style: double;
  border-color: #2c343c;
}
