h1 {
  color: rgb(141, 59, 49);
  font-family: "Courier New", Courier, monospace;
  margin: 15px;
}

h3 {
  color: rgb(16, 53, 53);
  font-weight: bold;
  background-color: lavender;
  font-family: "Courier New", Courier, monospace;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 50px auto 20px auto;
  max-width: 700px;
  text-align: center;
  border: 4px;
  border-style: double;
}

header {
  background-color: rgb(233, 225, 218);
  max-width: 800px;
  padding: 20px;
  margin: 20px auto 70px auto;
  border: 5px;
  border-style: double;
}

.subtitle {
  font-family: "Courier New", Courier, monospace;
  margin: 10px 10px 10px 20px;
}

ul {
  list-style-type: none;
}

canvas {
  background-color: lightgray;
  border-radius: 20px;
}

hr {
  margin-top: 30px;
}

.more-info {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  background-color: rgb(230, 235, 234);
  padding: 30px;
  border-radius: 20px;
  margin: 15px auto;
  border: 4px;
  border-style: double;
}

.work-from-home {
  background-color: lightsteelblue;
  margin: 15px auto;
  padding: 1%;
  max-width: 850px;
  border-radius: 10px;
}

.intro-paragraph {
  color: rgb(15, 12, 56);
  background-color: rgb(225, 230, 223);
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  max-width: 800px;
  padding: 15px;
  margin: 15px auto;
  border-radius: 9px;
  border: 4px;
  border-style: double;
  line-height: 25px;
}

.stimulus {
  padding: 1%;
  margin: 15px auto;
  background-color: rgb(205, 209, 200);
  max-width: 850px;
  border-radius: 20px;
  border: 4px;
  border-style: double;
}

.masks {
  background-color: rgb(221, 231, 241);
  padding: 1%;
  margin: 15px auto;
  max-width: 850px;
  border-radius: 20px;
}

details {
  margin: 10px;
  padding: 20px;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  border: 4px;
  border-style: double;
}

summary {
  margin: 10px;
  padding: 10px;
}

#sad-news {
  margin-left: 50px;
  margin: 10px;
  padding: 15px;
  padding-left: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(254, 255, 215);
  background-color: crimson;
  max-width: 700px;
  border-radius: 40px;
}

#sad-news-outline {
  background-color: brown;
  padding: 10px;
  max-width: 700px;
  border-radius: 40px;
}

.learn {
  background-color: lightblue;
  max-width: 850px;
  margin: 15px auto;
  border-radius: 20px;
  padding: 1%;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 20px;
  padding: 10px;
  line-height: 20px;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.global-attributes {
  background-color: rgb(216, 225, 226);
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.canvas {
  background-color: rgb(216, 225, 226);
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.image-mapping {
  background-color: rgb(216, 225, 226);
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.big-image {
  max-width: 800px;
  border-radius: 15px 50px;
  border: 5px;
  border-style: double;
  border-color: #2c343c;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-mid {
  max-width: 400px;
  max-height: 350px;
  border-radius: 10px;
  margin: auto;
}

.image-mid-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  margin-top: 50px;
  margin-right: 10px;
  font-size: 10px;
  text-align: right;
}
